<MarketplaceDetails>
  <SmallAppTile>AppIcon300.png</SmallAppTile>
  <ScreenShots>bb3.png;bb2.png;bb1.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>bb3wxga.png;bb2wxga.png;bb1wxga.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>bb3720.png;bb2720.png;bb1720.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>